@use '../../../config/_base' as *
.work
    max-width: 50vw
    height: auto

.subtitle
    font:
        size: 2rem
        weight: 800
    text-decoration: underline $bit/2 $underline
    text-underline-position: under
    text-underline-offset: 4px
