@use '../../../config/_base' as *

.work
    max-width: 50vw
    height: auto

.cards
    @include flex(row wrap)
    div
        flex: 1 1
        padding: $bit
        background: $primary

        border-radius: 4px

    p
        margin-block: $bit/2
        font-size: 0.9rem
        line-height: 120%
    a
        text-transform: uppercase
            
        font: 
            weight: 800
            size: 0.8rem
    