$primary: #fef2e4
$secondary: #39215e
$accent: #e2bee4
$accent-2: #000

=border($color)
    border: 0.1rem solid $color
    border-radius: 1rem

body
    background: $primary

.page
    background: rgb(57,33,94)
    background: linear-gradient(180deg, rgba(57,33,94,1) 0%,rgba(57,33,94,1) 25%, rgba(226,190,228,1) 70%, rgba(254,242,228,1) 100%)

main.content
    

#links>li
    /*background: $accent
     border: 2px solid $primary */

    a
        color: $primary

    :hover
        color: $accent

header
    background: $secondary
    color: $accent

    p
        color: $primary

footer.foo
    color: $accent-2
    text-align: center

.heading
    
    
    h2::before
        color: $secondary

.card
    background: $primary
    box-shadow: 2px 2px $secondary
    border: 0.1rem solid $secondary
    border-radius: 0.25rem

    div
        background: $accent
        border-radius: 0.25rem 0.25rem 0 0
        border-bottom: 0.1rem solid $secondary    




    
