/*
    module for layout defaults
    */ 
@use 'defaults' as *
@use 'media-queries'

/*
    IDs
        */

#intro
    margin: $bit
    padding: $bit

#titles
    flex: 1


/*
    CLASSES
        */

.page   //app class
    +grid($flow: column, $wrap: nowrap, $gap: $cushion)
    //align-items: flex-start
    min-height: 100vh
    width: auto
    
main.content
    +grid($flow: column)
    align-items: stretch
    height: 100%
    flex: 1


.projects
    div
        +grid($flow: column, $gap: 0)

        h3
            flex: 0

        p
            flex: 1

.head,
.foo
    flex: 0
    width: 100%

.head
    header
        +grid($flow: column)
        align-items: flex-start
        padding: $cushion


        p
            flex: 0

.foo
    +grid($flow: column, $gap: $bit)
    justify-content: flex-start
    font-size: calc( $cushion * 0.75 )
    padding: $cushion

    .credits
        flex: 0

    footer
        align-self: center

