@use 'defaults' as *

.page
    +grid($flow: column, $wrap: nowrap)
    align-items: flex-start
    background: $primary  
    min-height: 100vh
    width: auto
    
main.content
    flex: 1
    align-self: center
    background: blue
    width: 80vw
    height: auto

.head,
.foo
    width: 100%

.foo
    padding: $cushion
    font-size: calc( $cushion * 0.75 )

#links
    +grid($wrap: nowrap, $gap: $cushion)
    justify-content: space-around
    list-style-type: none
    padding-block: $cushion

    li
        flex: 1
