@use 'defaults' as *

/*
    IDs
        */

#intro
    margin: calc($cushion/2)
    padding: calc( $cushion/2 )


/*
    CLASSES
        */

.page
    +grid($flow: column, $wrap: nowrap)
    //align-items: flex-start
    background: $primary  
    min-height: 100vh
    width: auto
    
main.content
    //padding: calc( $cushion/2 )
    flex: 1
    +grid($flow: column)
    //width: 80vw
    height: auto

.head,
.foo
    width: 100%

.head
    header
        +grid($flow: column)
        align-items: flex-start
        padding: $cushion


        p
            flex: 0

.foo
    +grid($flow: column)
    justify-content: flex-start
    font-size: calc( $cushion * 0.75 )

    div
        margin: $cushion

        p
            padding-block: calc( $cushion/2 )

    footer
        align-self: center
        padding: $cushion

.links
    +grid($wrap: nowrap, $gap: $cushion)
    justify-content: space-around
    list-style-type: none
    padding-block: $cushion

    li
        flex: 1
