@use 'defaults' as *
@use 'layout'

body 
    background: rgb(255,255,255)
    background: linear-gradient(0deg, rgba(254,242,255,1) 10%, rgba(244,178,255,1) 40%, rgba(61,44,157,1) 75%)
    margin: 0
    color: $primary
    font:
        size: 14px
        family: $text
        optical-sizing: auto
        style: normal

    *
        +reset-list

    a
        font-weight: 700
        +underline($size: 2px, $color: $accent-2)
        text-underline-offset: 2px

    a:visited
        color: $accent-3

    a:hover
        color: #16171f //indigo-90

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .foo
       font-family: $titles 

    h1
        color: $accent
        letter-spacing: -(calc($cushion*0.25))
        font:
            size: 4rem
            weight: 900

    h2
        letter-spacing: -(calc($cushion*0.05))
        text:
            transform: lowercase
            shadow:  -1px -1px $accent-2, 1px 1px $accent
        font:
            size: 2rem
            weight: 700

    h3
        letter-spacing: -(calc($cushion*0.025))
        font:
            size: 1.2rem
            weight: 600

    h4
        text-transform: uppercase
        font:
            size: calc($cushion*0.9)
            weight: 600

    strong, 
    bold
        font-weight: 800

div.page
    background: url('https://i.imgur.com/fdxdyuh.png') repeat
    background-size: 2px

#intro
    background: $secondary
    border-radius: 0px 10px 10px 10px
    box-shadow: 2px 2px $accent-2
    border: 1px solid $accent-2

main.content
    margin: $cushion
    border-radius: 10px
    border: 1px solid $primary
    box-shadow: 1px 1px $primary

    article
        background: $accent-4
        border-radius: 0 0 10px 10px
        //border: 1px solid $accent-3
        

#titles
    color: $secondary
    padding: $bit $cushion
    background: $primary
    border-radius: 10px 10px 0 0
    box-shadow: 0 1px 1px -1px $accent-3
    border-inline: 1px solid $primary
    border-block-start: 1px solid $primary
    border-block-end: 1px solid $accent-3

#entries>div
    padding: $cushion

.projects
    div
        border: 1px groove $primary
        box-shadow: 2px 2px 1px -2px $primary
        
        h3
            border-radius: 2px 2px 0 0
            background: $accent
            padding: (calc($cushion/4)) $bit
            border-bottom: 1px dotted $accent-3

        p
            
            background: $secondary
            padding: $bit
            font:
                size: $cushion
                weight: 500


.links>li
    list-style: none
    text-align: center
    font:
        size: 1.2rem
        family: $titles
        weight: 800

    a
        color: $secondary
        +underline($size: $bit, $color: $accent-2)

    a:hover
        transition: text-decoration 500ms 200ms
        text-decoration: $bit underline $accent-3  

.foo

    footer
        padding-block-start: $bit
        padding-block-end: $cushion

.credits
    border: 1px solid $accent-4
    box-shadow: 2px 2px $accent-4
    background: $secondary
    border-radius: 10px
    transition: font-size 1s
    padding: $bit
    font:
        size: calc( $cushion*0.7 )
        weight: 400

    ul
        padding-block-start: $bit

    li
        margin-inline-start: $cushion

#copyright
    text-transform: uppercase
    color: $accent-3
    font:
        weight: 700
        size: calc($cushion*0.6)

