@use 'defaults' as *
@use 'layout'

body 
    margin: 0
    background: $primary
    color: $secondary
    font:
        size: 14px
        family: $text
        optical-sizing: auto
        style: normal

    *
        +reset-list

    a
        text-decoration: 2px underline $accent-2

    a:visited
        color: $accent-3

    a:hover
        color: #16171f //indigo-90

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .foo
       font-family: $titles 

    h1
        color: $accent
        letter-spacing: -(calc($cushion*0.25))
        font:
            size: 4rem
            weight: 900

    h2
        text-shadow: 1px 2px 2px $primary
        font:
            size: 3rem
            weight: 700rem

    h4
        font:
            size: 1.2rem
            weight: 500

    strong, 
    bold
        font-weight: 800

#intro
    color: $primary
    background: $secondary
    border-radius: 0 10px 10px 10px
    box-shadow: 2px 2px $accent-2
    border: 1px solid $accent-2

main.content
    //background: $accent
    background: rgb(61,44,157)
    background: linear-gradient(180deg, rgba(61,44,157,1) 5%, rgba(244,178,255,1) 60%, rgba(244,178,255,1) 75%, rgba(247,242,255,1) 95%)


.links>li
    text-align: center
    font:
        size: 1.2rem
        family: $titles
        weight: 800

    a
        color: $secondary
        text-decoration: $bit underline $accent-2

    a:hover
        transition: text-decoration 500ms 200ms
        text-decoration: $bit underline $accent-3  


.foo
    color: $primary
    background: $secondary
    font-weight: 600