@use '../../config/_base' as * 

.header
    @include flex(row nowrap)
    align-items: center

    nav
        flex: 3
    

.links
    @include flex(row wrap)
    justify-content: space-evenly
    list-style-type: none
    padding-inline: 0

    li
        flex: 0 1 auto

    a
        color: $link
        text-decoration: none
        font-weight: 700
        padding: $bit/8 $bit/2

    a:hover
        border-left: $bit/2 solid $underline
        transition: 0.15s
        transition-timing-function: ease-in
        

.title
    display: flex
    justify-content: center
    flex: 1
    padding: 1rem
    
    h1
        margin-block: 0
        font:
            family: $title
            weight: 400
            size: 2rem
        text-decoration: underline $bit/2 $underline
        text-underline-position: under
        text-underline-offset: -4px


