@use '../../config/_base' as * 

.title
    display: flex
    justify-content: center
    flex: 1
    padding: 1rem
    
    h1
        margin-block: 0
        font:
            family: $title
            weight: 400
            size: 3rem
        +title-line($secondary)


