@use '../../config/_base' as * 

.header
    @include flex(row nowrap)
    align-items: center

    nav
        flex: 3
    

.links
    @include flex(row wrap)
    justify-content: space-evenly
    list-style-type: none
    padding-inline: 0

    li

    a
        color: $link
        text-decoration: none
        font-weight: 700
        background: $underline
        padding: $bit/6 $bit/2
        border-radius: 4px
        box-shadow: 2px 2px $bg
        transition: 0.4s

    a:hover
        background: #fce7f3
        outline: 1px solid $underline
        transition: 0.4s
        

.title
    display: flex
    justify-content: center
    flex: 1
    padding: 1rem
    
    h1
        margin-block: 0
        font:
            family: $title
            weight: 400
            size: 2rem
        text-decoration: underline $bit/2 $underline
        text-underline-position: under
        text-underline-offset: -4px


