<nav>
    <ul class="links">
        {% for link in linkList %}
            <li>
                <a href="{{ link["url"] }}" \>{{ link["title"] }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>
<header>
    <h1 class="page-title">{{ title }}</h1>
    <p id="intro">Hi! My name is Shanon! I'm a web developer focused on building colorful and accessible websites.</p>
</header>