<div class="projects">
    <div>
        <h3 class="title">Tip Calculator</h3>
        <p>A Javascript program that calculates bill total with % tip.</p>
    </div>
    <div>
        <h3 class="title">Luhn Form</h3>
        <p></p>
    </div>
    <div>
        <h3 class="title">Plant Planner</h3>
        <p></p>
    </div>
</div>