---
title: Selesie
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bundle.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="page">
        
        <main class="content">
            <article>
                {{ content }}
            </article>
        </main>
        
    </div>
</body>
</html>