---
title: Selesie
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="bundle.css">
    <title>{{ title }}</title>
</head>
<body>
    <div class="page">
        <div class="head">
            {% include 'head', title: 'Selesie․' %}
        </div>
        <main class="content">
                {{ content }}
        </main>
        <div class="foo">
            {%include 'foo'%}
        </div>
    </div>
</body>
</html>