@use '../../config/_base' as *


.resume
    @include flex(column nowrap)
    justify-content: center
    align-items: center
    height: 100vh

.body
    @include flex(column nowrap)
    margin-block-start: 3rem
    max-width: 80vw
    padding: $bit
    line-height: 150%

    ul
        margin-block: 0
        font-size: $bit


h3,
.subtitle
    font-size: 1.5rem
.subtitle
    padding-left: $bit
    border-left: calc($bit / 2) solid $secondary


.title
    line-height: 110%
    margin-block: 0
    font:
        size: 2.5rem
        weight: 800


.blurb 
    +flex(column nowrap, calc($bit/3))
.intro
    margin-block: 0
    font-size: 1.1rem

.contact
    line-height: 175%

.email
    background: $primary
    +cushion(5, 4)
.location
    font-weight: 500
    
    

.ongoing
    +flex(row nowrap)
    ul
        margin-block: 0
        background: $primary
        padding: calc($bit/2) $bit
        border-radius: 4px
        +shadow($secondary)

        li
            margin-left: $bit
        a
            +underlink(2px)

.date
    font-weight: 500

.other
    border-top: calc($bit/2) solid $secondary

.other
    h5
        font:
            size: 1.05rem
            weight: 600
            style: italic
        margin-block: calc($bit/3)

.work
    +flex(column nowrap, calc($bit * 2))