@use '../../config/_base' as *


.resume
    @include flex(column nowrap)
    justify-content: center
    align-items: center
    height: 100vh

.body
    @include flex(column nowrap)
    margin-block-start: 3rem
    max-width: 80vw
    padding: $bit
    line-height: 150%

    h3
        font-size: 1.5rem

    a
        color: $secondary
        text-decoration: none
        font-weight: 600
        transition: 0.25s

    a:hover
        color: #500724
        transition: 0.5s


.title
    line-height: 110%
    margin-block: 0
    font:
        size: 2.5rem
        weight: 800

.blurb 
    @include flex(column nowrap, calc($bit/3))
.intro
    margin-block: 0
    font-size: 1.1rem

    &:before
        content: url(https://64.media.tumblr.com/tumblr_lohoryRRTJ1qda978.gif)
        padding-right: 0.5rem

.email
    background: $primary
    padding-inline: calc($bit/4)

.current
    +flex(row wrap, 2rem)

    div
        flex: 2 0

    div.skills
        flex: 3
    

.ongoing
    margin-block: 0
    background: $primary
    padding: calc($bit/2) $bit
    border-radius: 4px

    li
        margin-left: $bit
    a
        text-decoration: underline 2px

.date
    font-weight: 500

.other
    border-top: calc($bit/2) solid $accent-warm

.other
    h5
        font:
            size: 1.05rem
            weight: 600
            style: italic
        margin-block: calc($bit/3)
