$link: #be185d
$bg: #fdf2f8
$underline: #dedede
$accent: #f9a8d4

/* USWDS COLORS
    * primary: magenta 5v
    * base: magenta 90
    * secondary: mangenta
    * accent-warm: magenta 40
    *
$background: #f9f0f2
$base: #1b1617
//60% 
$primary: #f9f0f2
//30%
$secondary: #e895b3
//10%
$accent-warm: #ab2165
$accent-cool: #731f44
