@use '_base' as *


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
    .desc
        line-height: 150%
        

    .work,
    .cards
        +flex(column nowrap, $bit)

    header
        +flex(column nowrap, calc($bit / 2))

    .links
        +flex(row wrap)
        justify-content: center
        li
            flex: 0 0 auto
            +flex(row nowrap, 0)
            align-items: center
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
    .links
        @include flex(row wrap)
        justify-content: space-evenly

        li
            flex: 0 1 auto

    .cards
        @include flex(row wrap)
        div
            flex: 1 1
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 