@use '_base' as *


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px)
    .desc
        line-height: 150%
        

    .work
        +flex(column nowrap, $bit)

    .current
        +flex(column nowrap)

    .cards
        +flex(column nowrap, calc($bit * 1.5))

    header
        +flex(column nowrap, calc($bit / 2))

    .links
        +flex(row wrap)
        justify-content: center
        li
            flex: 0 0 auto
            +flex(row nowrap, 0)
            align-items: center
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) 
    header
        +flex(column nowrap, $bit)

    nav
        flex: 1

    .links
        +flex(row nowrap)
        justify-content: space-evenly
    
    .work
        +flex(column nowrap)

    .cards
        +flex(row nowrap, 1.5rem)

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) 
    .work
        +flex(row nowrap, 3rem)

        .info
            flex: 2

        .projects
            flex: 5
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) 
    header
        +flex(row nowrap)
        align-items: center

        div
            flex: 2

        nav
            flex: 3

    .links
        @include flex(row wrap)
        justify-content: space-around

        li
            flex: 0 1 auto

    .cards
        @include flex(row wrap, 2rem)
        div
            flex: 1 1

    .current
        +flex(row nowrap, 2rem)

        div
            flex: 2 

        div.skills
            flex: 5

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) 
    .work
        .info
            flex: 1
        .projects
            flex: 1