@use '../../config/_base' as *
.page 
    width: 90vw
    margin: 0 auto
    @include flex(column nowrap, 3rem)

.intro
    margin-top: 2rem

    p
        background: $primary
        padding: $bit
        border-radius: $bit
        margin-block: 0

.title
    font: 
        size: 2.5rem
        weight: 900

.subtitle
    font:
        size: 2rem
        weight: 800
    text-decoration: underline $bit/2 $secondary
    text-underline-position: under
   

.about
    @include flex(column nowrap)
    align-items: center

    .dev
        flex: 1 0 auto
        max-width: 25vw
        height: auto

    div
        flex: 1
        
        p
            text-align: justify
    
.bits
    font-size: 1.1rem

.bits:before
    content: url(https://64.media.tumblr.com/tumblr_lohoryRRTJ1qda978.gif)
    padding-right: 0.5rem

.work
    +flex(row wrap, 3rem)
    justify-content: space-around

    .info
        flex: 3

    .projects
        flex: 3