@use '../../config/_base' as *
.page 
    width: 80vw
    margin: 0 auto
    @include flex(column nowrap, 3rem)

.intro
    margin-top: 2rem

   

.about
    @include flex(column nowrap)
    align-items: flex-start

    div
        flex: 1
        
        p
            text-align: justify
    
.bits
    font: 
        size: 1.1rem
        weight: 600

.bits:before
    content: url(https://64.media.tumblr.com/tumblr_lohoryRRTJ1qda978.gif)
    padding-right: 0.5rem

