@use '../../config/_base' as *

.foo
    display: flex
    justify-content: center

.copyright
    color: #500724
    margin-block: 0
    padding: $bit
    font:
        size: 0.8rem
        weight: 600