@import '../../config/_base'
.photos
    padding: $bit
    img
        width: 100%
        height: auto

    figure
        margin-inline: 0
        
        img
            box-shadow: 3px 3px 1px $secondary
            outline: 1px solid white
            border-radius: 1px

    a
        color: $accent-warm
        font-weight: 600
        transition: 0.25s

    a:hover
        color: $accent-cool
        transition: 0.5s

    p
        margin-block: 0
        border-left: calc($bit/2) solid $secondary
        padding: calc($bit/4) $bit
        font-weight: 500

.title
    font: 
        size: 2.5rem
        weight: 900