@use '../config/_base' as *     //include base module

.App 
    @include flex(column nowrap)
    font:
        family: $text
        size: $bit
    min-height: 100vh
    margin: $bit
    //padding: $bit
    outline: 4px solid $border
    border-radius: $bit/4

    header,
    footer
        flex: 0

    main
        flex: 1
